main {
    margin: 5rem;
    border: 0.1rem solid black;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    padding: 0rem 1rem 1rem 1rem;
    padding-left: 0;
}

h2 {
    font-weight: bold;
}

ul {
    padding-left: 1.5rem;
}

h4 {
    font-style: italic;
}

.contact_info{
    text-align: center;
    font-weight: bold;
}

.my_name {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.test {
    list-style-type: circle;
}

.workplace {
    padding-bottom: .5rem;
}

.resume_section {
    padding-bottom: 1rem;
}

.school_section {
    font-weight: bold;
}